But now the name almost seems like a twisted joke
There's a perimeter of police tape and the place looks like a ghost town
It felt like a cadaver
You seem like a decent fellow to me
The face had what looked like a glass screen
Each drop of water felt like a breath of mountaintop air
Oh, this wasn't anything new, her being in trouble or seeming like a psychopath
It looked like a nuclear warzone
Easy on out there mate, you're shaking me up like a snow globe here
Her vision began to get hazy, foggy,like a frosted window
It looks like a daunting task
A blast of radiation hit him like a volcanic explosion
Lightning was the first to retort, booming like a thunderclap in my ear
All of these lights, metaphorically and physically were like a movie set
The happiness in her grew like a great oak
I said as the anger clutched my heart like a vice
It's fingers making its way along the wall like a spider
Hell, even *I* thought it sounded like a scam when I applied
Oh god, I hate that alarm, pounding in my head like a jackhammer
The sound of the wood wailed through the empty silence like a mournful child
The light brown seat was splotched, like a street painter's recycled canvas
My mind was working like a clockwork
Oh my god, OH MY GOD, I squealed like a giddy schoolgirl
Each morning I'd wake up giddy, like a kid on Christmas Day
I sighed, but she grinned like a wolf
The silver glock was poised like a beautiful swan
He was blown backwards and hit the ground like a sack of fertilizer
I feel a smile forming that to them looks more like a grimace
The stranger gazed at Julian, like a father
Thank you Kazarl and Godan, you two are already looking like a strong team
I just want to live a quiet life, like a plant
The giant makes the pug look like a puppy
In mere moments, they were gone, streaking across the sky like a fiery meteor
You seem like a really good person
Flowing up imperceptible handholds like a graceful water snake
Her long golden hair resting on the pillow like a halo
She walked like a half inflated rag doll
The reality of life swept up over my shoulders like a warm coat
Simply put, he looked like a filthy Russian wife beater
But as soon as I entered my mood dropped like a hammer
Damning its appearance, its voice came gentle and quite like a shy opera singer
Too much information, too fast, whirled like a cyclone in my head
I looked around and noticed something that felt like a stab to the heart
I pressed down, the quiet noise seemed like a scream in my ears
The thuds and bangs fell upon me like a violent thunderstorm on earth
Pain stabbed into my eye like a burning chopstick
Driving his classic Audi through the streets he stuck out like a sore thumb
You're so purple you look like a shitty Smurf knockoff
I asked him breaking the silence, and this felt oddly like a highschool drug deal
Snow stacked up on his shoulders as she dove like a mermaid
Light was pouring in behind her, like a shining aura
The ceiling moved and each sound was like a thunder clap
The mask was very wavy, like a butterfly
An exec stood center stage, dressed like a 1920s carnival barker
The salt spray from the nearby water caressed my face gently, like a lover's kiss
The ground shook as he smacked into it like a meteor
I’m imagining this playing out like a comedy sitcom
He reached into his pocket and pulled out what looked like a small faded painting
His life was forgotten, like a diary lost to flame
It looked more like a storage closet
It was cool and quiet, and I stormed through like a charging bull
This actually reads like a Pushkin fairy tail
No longer does familiarity feel like a breath of fresh air
I crashed through the window spinning like a twister
I haven't felt anything that feels like a crushing death
Accidental British, sounds like a best selling book
The hilt of his longsword rang against my skull like a church bell
Memories, emotions, beliefs, traits of personality all crushing down in my mind like a waterfall
My heart is pounding on my chest like a hammer on it's anvil
Not so much a deafening boom,  it sounded more like a eardrum shattering crack
The golden case was unmarked and shimmered like a freshly polished eye-piece
I walked to the hardware store looking like a wreck
It grips my wrist, almost like a vice gripping me
"You die " the creature spat, surging at him like a thundercloud
He landed with a thud, like a sack of potatoes
It was like a vicious cycle
Her memory crawled up my spine like a spider
Each exercise is like a little literary vitamin
Day 1: Everyone treats the transfer student, me, like a total outcast 
The memory came back vividly, like a waking dream
The third picture was text, seems like a code
He grabbed James' head and, for a fleeting moment, it felt like a hug
The kid was a natural, absorbing the information like a sponge
The ringing is fading, though my head still feels like a balloon
When he swung that hammer, he looked like a crazed mad man
My foot landed on the gas and I orbited around like a flashy low-flying UFO
The man hissed, John felt like a prisoner again
Yeah, I think that he and Hughes would get on like a house on fire
To any far-away observer, it would look like a mirage
There was like my new hood and in between like a Spanish and white neighborhood
The agent assigned to him for today was holding his jacket like a newborn bird
It was his own chuckle, looped over and over again like a music sample
He is about six feet tall, and looks like a bull that could stand
There was a couple in the corner, looked like a first date
Her eyes were dark blue, like a storm
A beer or two if you really feel like a shit
The words were like a brick to the head
The woman I lived with was wonderful, and the village people felt like a family
With all those resources, one and a half months flew by like a breeze
Rare and forgotten words are like a strong spice